<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LOOKUP</key>
	<array>
		<array>
			<dict>
				<key>type</key>
				<string>reference</string>
				<key>rangeMax</key>
				<string>S</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>type</key>
				<string>reference</string>
				<key>rangeMax</key>
				<string>1</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>type</key>
				<string>reference</string>
				<key>rangeMax</key>
				<string>1</string>
			</dict>
			<dict>
				<key>type</key>
				<string>function</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>type</key>
				<string>constant</string>
			</dict>
		</array>
	</array>
	<key>UPPERCASE</key>
	<array>
		<array>
			<dict>
				<key>type</key>
				<string>reference</string>
				<key>rangeMax</key>
				<string>1</string>
			</dict>
			<dict>
				<key>type</key>
				<string>function</string>
			</dict>
		</array>
	</array>
	<key>LOWERCASE</key>
	<array>
		<array>
			<dict>
				<key>type</key>
				<string>reference</string>
				<key>rangeMax</key>
				<string>1</string>
			</dict>
			<dict>
				<key>type</key>
				<string>function</string>
			</dict>
		</array>
	</array>
	<key>FINDONE</key>
	<array>
		<array>
			<dict>
				<key>type</key>
				<string>reference</string>
				<key>rangeMax</key>
				<string>1</string>
			</dict>
		</array>
	</array>
	<key>IF</key>
	<array>
		<array>
			<dict>
				<key>type</key>
				<string>reference</string>
				<key>rangeMax</key>
				<string>1</string>
			</dict>
			<dict>
				<key>type</key>
				<string>function</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>type</key>
				<string>reference</string>
				<key>rangeMax</key>
				<string>1</string>
			</dict>
			<dict>
				<key>type</key>
				<string>function</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>type</key>
				<string>reference</string>
				<key>rangeMax</key>
				<string>1</string>
			</dict>
			<dict>
				<key>type</key>
				<string>function</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
