<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>teams</key>
	<dict>
		<key>response</key>
		<dict>
			<key>transformations</key>
			<dict>
				<key>t0</key>
				<dict>
					<key>name</key>
					<string>T0</string>
					<key>schemaItems</key>
					<dict>
						<key>si0</key>
						<dict>
							<key>name</key>
							<string>json-invoice-list</string>
						</dict>
						<key>si1</key>
						<dict>
							<key>name</key>
							<string>json-invoice-item</string>
						</dict>
						<key>si2</key>
						<dict>
							<key>name</key>
							<string>xml-invoice-list</string>
						</dict>
						<key>si3</key>
						<dict>
							<key>name</key>
							<string>xml-invoice-item</string>
						</dict>
					</dict>
					<key>subTransformations</key>
					<dict>
						<key>st0</key>
						<dict>
							<key>name</key>
							<string>ST0</string>
							<key>inputs</key>
							<array>
								<dict>
									<key>name</key>
									<string>c-in-0</string>
									<key>indentedSchemaItems</key>
									<array>
										<dict>
											<key>indentation</key>
											<integer>0</integer>
											<key>schemaItemId</key>
											<string>si0</string>
											<key>type</key>
											<string>node</string>
										</dict>
										<dict>
											<key>indentation</key>
											<integer>1</integer>
											<key>schemaItemId</key>
											<string>si1</string>
											<key>type</key>
											<string>leaf</string>
										</dict>
									</array>
									<key>mapRules</key>
									<dict/>
								</dict>
							</array>
							<key>outputs</key>
							<array>
								<dict>
									<key>name</key>
									<string>c-out-0</string>
									<key>indentedSchemaItems</key>
									<array>
										<dict>
											<key>indentation</key>
											<integer>0</integer>
											<key>schemaItemId</key>
											<string>si2</string>
											<key>type</key>
											<string>node</string>
										</dict>
										<dict>
											<key>indentation</key>
											<integer>1</integer>
											<key>schemaItemId</key>
											<string>si3</string>
											<key>type</key>
											<string>leaf</string>
										</dict>
									</array>
									<key>mapRules</key>
									<dict/>
								</dict>
							</array>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
